.ucu-scroll::-webkit-scrollbar {
  width: 10px;
}

.ucu-scroll::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 9999px;
}

.ucu-scroll::-webkit-scrollbar-thumb {
  background: #052e66;
  border-radius: 9999px;
  border: 2px solid #e5e7eb;
}

.ucu-scroll::-webkit-scrollbar-thumb:hover {
  background: #083c8c;
}

.ucu-scroll {
  scrollbar-width: auto;
  scrollbar-color: #052e66 #f3f4f6;
}
